# Ignore compiled files
*.pyc
*.class
# Ignore emacs turds
*~
# Ignore vim state files
*.swp
# Ignore temporary backups
*-
# Ignore dirs where tweets are written
tweets
harassers
# Ignore credentials (don't want them in the repo for the world to see)
creds.py
